<turbo-frame id="add_to_cart_increase_decrease_quantity">
  <% if current_user && current_user.cart&.products&.include?(product) %>
    <% cart_item = current_user.cart.cart_items.find_by(product: product) %>
    <% if cart_item.quantity >= product.quantity %>
      <button disabled>+</button>
    <% else %>
      <%= button_to "+", increase_quantity_product_cart_item_path(product, cart_item), method: :post %>
    <% end %>
    <%= button_to "-", decrease_quantity_product_cart_item_path(product, current_user.cart.cart_items.find_by(product: product)), method: :post %>
    <%= cart_item.quantity %> in cart
  <% else %>
    <% if product.quantity.zero? %>
      <button disabled>OUT OF STOCK</button>
    <% else %>
      <%= button_to "Add to cart", product_cart_items_path(product), method: :post %>
    <% end %>
  <% end %>
</turbo-frame>