<div>
  <% if product.product_image.attached? %>
    <div>
      <%= link_to image_tag(product.product_image), product_path(product) %>
    </div>
  <% end %>
</div>

<div>
  <%= link_to product.name, product_path(product) %>
</div>

<div>
  <% if product.quantity.zero? %>
    OUT OF STOCK
  <% else %>
    <%= number_with_delimiter(number_with_precision(product.price, precision: 2), delimiter: ',') %> BDT
  <% end %>
</div>